/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

$edge: 1rem;
$bgColor: #929292;
$fgColor: #2c2c2c;

.content {
    color: $fgColor;
    background-color: $bgColor;
}

.edge-inside {
    padding: $edge;
}

.edge-outside {
    margin: $edge;
}